<div class="container-fluid container-custom vh-100 d-flex justify-content-center align-items-center">
    <div class="container-fluid">
        <div class="row row-cols-2">
            <div class="col-3">
                <form [formGroup]="form" (ngSubmit)="handleSubmit()">
                    <div class="card">
                        <div class="card-header pt-4 text-uppercase">
                            <div class="card-title">
                                <span class="fw-bold h5">Datos de producto</span>
                            </div>
                        </div>
                        <div class="card-body py-0 pt-4">
                            <mat-form-field appearance="outline">
                                <mat-label> Código </mat-label>
                                <input type="text" matInput autocomplete="off" formControlName="codigo">
                                <mat-icon matPrefix>qr_code_scanner</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label> Nombre </mat-label>
                                <input type="text" matInput autocomplete="off" formControlName="nombre">
                                <mat-icon matPrefix>edit</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label> Tipo </mat-label>
                                <mat-select formControlName="tipo">
                                    <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">
                                        {{ tipo.nombre }}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matPrefix>border_color</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label> Precio </mat-label>
                                <input type="number" matInput autocomplete="off" formControlName="precio">
                                <mat-icon matPrefix>payments</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label> Cantidad </mat-label>
                                <input type="number" matInput autocomplete="off" formControlName="cantidad">
                                <mat-icon matPrefix>inventory_2</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="card-footer p-0 px-3 mb-3 bg-transparent border-0">
                            <button class="btn btn-primary w-100" type="submit">
                                <mat-icon>send</mat-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-9 p-0">

                <div
                    class="container-fluid w-auto d-flex justify-content-center align-items-start p-3 shadow m-4 rounded-2 bg-white">
                    <div class="container w-100">
                        <div class="w-100 text-center card border-0 shadow-sm mb-3">
                            <span class="h5 title w-100"> {{inventario}} </span>
                        </div>
                        <div class="card-content">
                            <div class="row row-cols-1">
                                <div class="col">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Filtrar</mat-label>
                                        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input
                                            autocomplete="off">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="container-table">
                                <table mat-table [dataSource]="dataSource" matSort>

                                    <ng-container matColumnDef="codigo">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                                        <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="nombre">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="tipo">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                                        <td mat-cell *matCellDef="let row"> {{row.tipo.nombre}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="precio">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                                        <td mat-cell *matCellDef="let row"> {{row.precio}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="cantidad">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                                        <td mat-cell *matCellDef="let row"> {{row.cantidad}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="subtotal">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subtotal </th>
                                        <td mat-cell *matCellDef="let row"> {{row.subtotal}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="accion">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> Acción </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button class="btn btn-danger" (click)="handleDelete(row.id)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro
                                            "{{input.value}}"</td>
                                    </tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[4]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>